<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Portfolio</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
</head>

<body>
  <section id="content">
    <img id="headshot" src="assets/img/placeholder2.png" alt="Me" width="200px" height="300px">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue massa, maximus pretium libero eu, accumsan aliquam leo. Maecenas auctor urna ante, at rutrum quam tincidunt eget. Aenean in semper massa. Cras mattis sapien sit amet ex
      mattis vestibulum. Suspendisse potenti. Nulla lobortis sagittis mauris, vel feugiat turpis condimentum ac. Fusce egestas tincidunt pharetra. Maecenas et risus lacinia, semper massa et, eleifend ante. Vestibulum lacinia sapien urna, eu
      consectetur tortor imperdiet molestie. Aenean quis nulla posuere, feugiat lorem ac, facilisis dolor. Nulla tellus risus, semper et accumsan vel, pulvinar nec elit.
    </p>
    <p>
      Curabitur id tellus mattis, ullamcorper magna eget, luctus mauris. Aliquam condimentum enim sagittis, rutrum elit at, vehicula ante. Phasellus feugiat blandit suscipit. Aliquam eget sem vitae est euismod luctus. Etiam a dui hendrerit, finibus
      mi non, mollis metus. Vivamus in viverra nisi. Cras commodo urna mi, sed egestas justo consequat et. Integer faucibus, orci ac pretium vulputate, diam erat consectetur felis, vel venenatis turpis dolor eget massa. In in nunc neque. Mauris sed
      blandit ipsum, vitae vehicula nisl.
    </p>
    <p>
      Nam magna odio, elementum ac lobortis nec, posuere eget turpis. Ut eu enim sed eros feugiat rhoncus. Proin pretium vel libero eget ornare. Vivamus dolor nisi, mollis eu erat eget, ornare scelerisque turpis. Etiam elit lectus, dapibus ut nibh
      non, aliquet euismod magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque tristique tortor, vel iaculis justo vestibulum pulvinar. Fusce ut cursus mauris.</p>
  </section>
  <section id="footer">
    Footer
  </section>
  <script src="/assets/bundle.js"></script>
</body>

</html>
