<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Portfolio</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
</head>

<body>
  <section id="content">
    <img id="headshot" src="assets/img/headshot.jpg" alt="Me" width="200px" height="300px">
    <p>My name is Steven Mills, and I am a 21 year old Game Design & Development Graduate from the Rochester Institute of Technology.  I've been coding since around 2013, and like to code in C#, C++, and JavaScript.  I also have experience in
      React.JS, Express.JS, and Bootstrap.  As far as game engines go, I currently prefer work in Unity, and am learning Unreal.
    </p>
    <p>
      My first experience with coding was back in high school, when my school's Calculus teacher urged me and some of the other kids in my AP calc class to try out our schools new AP programming course.  It only took me a couple courses to fall
      in love with writing code.  There was just something so satisfying about spending hours writing code, walking through exactly what it was doing to fix whatever went wrong, and then finally seeing it work just how I wanted it to.  One of the
      things that had always interested me growing up was video games, so by the time I graduated I knew I wanted to go to school for game design.  Thanks to RIT, I've not only learned how to be a much stronger coder, but I've also experimented in
      languages that I never would have tried before that have come to be some of my favorite to program in.
    </p>
    <p>
      My long term goal would be to either get a job working either in JavaScript, or on the AI for video games.  JavaScript has always appealed to me due to it's freeform nature.  It's a language in which you can basically do
      anything, and somehow it just works.  This means that the language can be so versatile with what you can do with it.  As for AI, that's always been my passion.  AI in video games isn't always been a concept that games nail, but the ones that
      do always make for a memorable experience.  A good AI can challenge even the most expereinced of players by forcing them to either use the games mechanics in new ways, or by forcing the player to put more thought into fights than just running
      at the enemy.
    </p>
  </section>
  <section id="footer">
    Footer
  </section>
  <script src="/assets/bundle.js"></script>
</body>

</html>
