<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Portfolio</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
</head>

<body>
  <section id="content">
    Content
  </section>
  <section id="footer">
    Footer
  </section>
  <script src="/assets/bundle.js"></script>
</body>

</html>
